<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact-us.component.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Internet Banking System</label>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Contact</a></li>
        <li><a class="active"  href="#">About us</a></li>
      </ul>
    </nav>
    <section></section>
  </body>

</html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="contact-us.component.css">
</head>

<body>
  <div class="container">
    <h1 class="heading">Our Team</h1>

    <div class="profiles">
      <div class="profile">
        <img src="https://scontent.fpat3-1.fna.fbcdn.net/v/t1.0-9/78213988_1397594323733558_8784449696581025792_n.jpg?_nc_cat=104&_nc_sid=09cbfe&_nc_ohc=uXus9B-J84AAX-42Skm&_nc_ht=scontent.fpat3-1.fna&oh=d9e55d01252e3bb277257aa316dd94e9&oe=5F7449AF " class="profile-img">

        <h3 class="user-name">Intesab Khan</h3>
        <h5>Trainee Engineer</h5>
        <p>Under the guidance of <b> Mr. Nishant Patel </b> </p>
      </div>
      <div class="profile">
        <img src="https://scontent.fpat3-1.fna.fbcdn.net/v/t1.0-9/55632822_412206452846305_4229734400700448768_o.jpg?_nc_cat=100&_nc_sid=09cbfe&_nc_ohc=Huz8wDDKm38AX-JQGI_&_nc_ht=scontent.fpat3-1.fna&oh=2a5b5ecdd452db0ee3f593e02c8daccc&oe=5F73C924" class="profile-img">

        <h3 class="user-name">Nishant Patel</h3>
        <h5>Project Manager.</h5>
        <p><b>Expert in Html, CSS, JavaScript, Java (Core and Advanced), Angular , MySQL, Data Science.</b></p>
      </div>
    </div>
  </div>
</body>
