<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="about-us.component.css">
  </head>
  <body>
      <h2 class="HTwo"> This is a portal of Internet Banking System which renders the online transaction and helps the users to 
          to deal without being worried to be physically available at the bank. It has kind of friendly interface and manages all the transactions happening by
        creating a proper database of them. well, feel free to use it. </h2>
        <div class="other">
            <h2>Commencement of the designing of this portal is done by Mr. Nishant Patel  who is our Honorable 'Project Director </h2>
        </div>

    </body>

</html>